
/*
===================ABOUT===================
===================ABOUT===================
===================ABOUT===================
*/

#about {
	width: 100%;
	display: inline-block;
	background-color: $white;
	padding-top: 10px;
	padding-bottom: 10px;
	h1 {
		text-align: center;
		font-size: 3em;
	}
	h2 {
		color: darken($white, 54%);
		border-bottom: 2px solid $accent;
		width: 350px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	h3 {
		color: darken($white, 54%);
		text-align: center;
	}
	p {
		color: darken($white, 87%);
	}
}
.about__what {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.about__why {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	ul {
		margin-left: -60px;
		margin-top: -20px;
		li {
			img {
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
				display: block;
			}
		  float: left;
		  width: 30%;
		  margin-left: 1.666666667%;
		  margin-right: 1.666666667%;
		}
	}
}

@media(max-width: 320px) {
	#about {
		h1 {
			font-size: 2em;
		}
		h2 {
			text-align: center;
			width: 80%;

		}
		ul {
			li {
			  float: none;
			  width: 100%;
			  margin-left: 0;
			  margin-right: 0;
			}
		}
	}
	.about__what {

	}
	.about__why {

		ul {

			li {
				img {
					margin-top: 40px;
				}

			}
		}
	}
}


