
/*
===================ABOUT===================
===================ABOUT===================
===================ABOUT===================
*/

#about {
  ul {
    li {
      float: left;
      width: 20%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

@media(max-width: 320px) {
	h2 {
		text-align: center;
	}
	#about {
	  ul {
	    li {
	      float: none;
	      width: 100%;
	      margin-left: 0;
	      margin-right: 0;
	    }
	  }
	}
}


