/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

a {
  text-decoration: none;
}

.border-wrapper{
  h1 {
    text-align: center;
    font-size: 3em;
    font-family: $varelaRound;
  }
}
.border{
    position: relative;
    width: 80px;
    height: 3px;
    background-color: $accent;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -30px;
}

.wrap {
  display: block;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  clear: both;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: $accent;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 4px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background: $accentLight;
  text-decoration: none;
}


@media(max-width: 320px) {
	.wrap {
		width: 98%;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		text-align: center;
	}	
}