#byMonth {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 60px;
	font-size: 1.5em;
    font-family: $varelaRound;
}


/* jQuery Countdown styles 2.0.0. */
.is-countdown {
	/*border: 1px solid #ccc;*/
	/*background-color: #eee;*/
	color: lighten($black, 87%);
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
	/*margin-left: 4px;*/
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

@media(max-width: 600px) {
  #byMonth {
    width: 70%;
    font-size: 1em;
  }
  .countdown-section {
    margin-left: 0;
  }
}
