
/*
===================HEADER===================
===================HEADER===================
===================HEADER===================
*/

header ul li a.active {
  background-color: $accent;
  color: #FFFFFF;
}

nav {
  height: 40px;
  width: 100%;
  background: $white;
  font-weight: bold;
  position: relative;
  z-index: 9999;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 607px;
  height: 40px;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  color: $black;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}
nav a:hover {
  color: $accent;
}
nav li a {
  border-right: 1px solid darken($white, 12%);
}

nav li:first-child a {
  border-left: 1px solid darken($white, 12%);
}

nav a#pull {
  display: none;
}

@media (max-width: 600px) {
  nav {
      height: auto;
  }
  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  nav li {
    width: 33.33%;
    float: left;
    position: relative;
  }
  nav li a {
    border-bottom: 1px solid darken($white, 12%);
    border-right: 1px solid darken($white, 12%);
  }
  nav li:first-child a {
    border-left: 0;
  }
  nav li:nth-child(3n) a {
    border-right: 0;
  }
  nav li:last-child a {
    border-right: 0;
  }
  nav a {
    width: 80px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: auto;
  }
  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }
  nav li {
    width: 50%;
    float: left;
    position: relative;
  }
  nav li:nth-child(3n) a {
    border-right: 1px solid darken($white, 12%);
  }

  nav li a {
    border-bottom: 1px solid darken($white, 12%);
    border-right: 1px solid darken($white, 12%);
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }
}

@media(max-width: 480px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: $white;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    background: url('img/nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
}


