
/*
===================HOME===================
===================HOME===================
===================HOME===================
*/

#home {

}

.fullheight {
  background: url("../img/earth2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home__desc {
  padding: 200px 0;

  text-align: center;
  color: $white; 

  .btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
  }

  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
}

@media(max-width: 320px) {
  .home__desc {
    padding: 50px 0;
  }
}

