
/*
===================HOME===================
===================HOME===================
===================HOME===================
*/

#home {
  h1 {
    font-size: 3em;
    font-family: $varelaRound;
  }
  h2 {
    font-size: 2em;
    color: lighten($black, 87%);
    font-family: $varelaRound;
  }
}

.fullheight {
  background: url("../img/earth2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home__desc {
  padding: 140px 0;

  text-align: center;
  color: $white; 

}

@media(max-width: 320px) {
  #home {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.2em;
    }
  }
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 1em;
  }
  .home__desc {
    padding: 20px 0;
  }
}

