
/*
===================HOME===================
===================HOME===================
===================HOME===================
*/

#home {

}

.fullheight {
  background: url("../img/earth2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home__desc {
  padding: 200px 0;

  text-align: center;
  color: $white; 

}

@media(max-width: 320px) {
  .home__desc {
    padding: 20px 0;
  }
}

