

/*
===================HEADER===================
===================HEADER===================
===================HEADER===================
*/

#header {
  width: 100%;
}

#nav {
  width: 100%;
  background-color: $white;
  height: 50px;
  padding-top: 1px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 9999;
  clear: both;
  float: left;
  ul {
    li {
      a {
        color: $darkgray;
        font-size: 18px;
        margin-left: 4px;
        margin-right: 4px;
      }
      
    }
  }

}



/*
===================HOME===================
===================HOME===================
===================HOME===================
*/

#home {

}

.fullheight {
  background: url("../earth.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home__desc {

  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  padding: 200px 0;

  text-align: center;
  color: $white; 

  .btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
  }

  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
}


#about {
  ul {
    li {
      float: left;
      width: 20%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

#speakers {
  clear: both;
  ul {
    list-style: none;
    
    li {
      width: 20%;
      height: 400px;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      float: left;
      font-size: .8em;
      text-align: center;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;

      }
    }

  }
}


#program {
  table {
    table-layout: fixed;
    width: 100%;
  }
  td {
    padding: 10px;
  }
  table, th, td {
      border: 1px solid black;
  }
}


#sponsors {
  ul {
    list-style: none;

    li {
      width: 16%;
      height: 200px;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      float: left;
      text-align: center;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;

      }
    }
  }
}