
/*
===================PROGRAM===================
===================PROGRAM===================
===================PROGRAM===================
*/


#program {
  display: inline-block;
  table {
    table-layout: fixed;
    width: 100%;
  }
  td {
    padding: 10px;
  }
  table, th, td {
      border: 1px solid black;
  }
}
