
/*
===================REGISTER===================
===================REGISTER===================
===================REGISTER===================
*/


#register {
	display: table;
	width: 100%;
	background-color: $primary;
	padding-bottom: 40px;
	ul {
		margin-left: -40px;
		li {
			input[type="text"] {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
			input[type="email"] {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
	}

}

@media(max-width: 320px) {
	input[type="text"] {
		margin-bottom: 20px;
	}

	.btn {
		margin-top: 20px;
	}
}