
/*
===================SPEAKERS===================
===================SPEAKERS===================
===================SPEAKERS===================
*/

#speakers {
  background-color: $primary;
  clear: both;
  display: table;
  width: 100%;
  h1 {
    color: $white;
  }
  .border-wrapper {
    margin-bottom: 40px;
  }
  ul {
    list-style: none;
    margin-left: -40px;
    li {
      width: 20%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 60px;
      margin-top: 0;
      padding: 0;
      float: left;
      font-size: .8em;
      text-align: center;
    }
  }
}

.speaker__item {
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    color: $primaryDark;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    color: darken($white, 54%);
    margin: 0;
  }
  i {
    margin-top: 0;
    padding-top: 0;
    font-size: 30px;
    color: $accent;
  }
  i:hover {
    color: $accentLight;
  }
}


@media(max-width: 320px) {
  #speakers {
    clear: both;
    ul {
      list-style: none;
      width: 100%;
      margin-left: -50px;
      li {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
        float: left;
        font-size: .8em;
        text-align: center;
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .speaker__item {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}


