
/*
===================SPONSORS===================
===================SPONSORS===================
===================SPONSORS===================
*/

#sponsors {
  display: inline-block;
  width: 100%;
  .border-wrapper {
    margin-bottom: 40px;
  }
  ul {
    list-style: none;
    margin-left: -40px;
    li {
      width: 16%;
      height: 200px;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      float: left;
      text-align: center;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;

      }
    }
  }
}

@media(max-width: 800px) {
  #sponsors {
    ul {
      li {
        width: 21%;
        height: 180px;
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }  
}

@media(max-width: 600px) {
  #sponsors {
    ul {
      li {
        width: 29.33333333%;
        height: 150px;
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }  
}

@media(max-width: 480px) {
  #sponsors {
    ul {
      li {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }  
}
