// _variables.scss
// =================

@import 'http://fonts.googleapis.com/css?family=Varela+Round';
$varelaRound: 'Varela Round', sans-serif;

$black: #000000;
$white: #FFFFFF;
$lightblue: #008DBC;
$yellow: #F0DB4F;
$darkgray: #323330;

$buttonblue: #3498db;

$blueOne: #34B1C4;

$blueTwo: #0665A2;

$primary: #00bcd4;
$primaryLight: #b2ebf2;
$primaryDark: #00838f;

$accent: #ff5722;
$accentLight: #ff8a65;
$accentDark: #d84315;

@font-face {
    font-family: entypo;
    src: url(entypo.woff);
}