// _variables.scss
// =================

$black: #000000;
$white: #FFFFFF;
$lightblue: #008DBC;
$yellow: #F0DB4F;
$darkgray: #323330;

$buttonblue: #3498db;

$blueOne: #34B1C4;

$blueTwo: #0665A2;

$primary: #00bcd4;
$primaryLight: #84ffff;
$primaryDark: #0097a7;

$accent: #ff5722;
$accentLight: #ffccbc;
$accentDark: #e64a19;

@font-face {
    font-family: entypo;
    src: url(entypo.woff);
}